# Users Service Configuration
USERS_SERVICE_HTTP_PORT=3001
USERS_SERVICE_GRPC_PORT=50051

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=skillup_users_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@localhost:5672
RABBITMQ_USERS_QUEUE=users_queue

# JWT
JWT_SECRET=super_secret_jwt_key_skillup_change_in_production
JWT_EXPIRATION=1d
