# Media Service Configuration
MEDIA_SERVICE_HTTP_PORT=3006
MEDIA_SERVICE_GRPC_PORT=50056

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@localhost:5672
RABBITMQ_MEDIA_QUEUE=media_queue

# MinIO / S3 Storage
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_DEFAULT_BUCKET=skillup-media
