# Booking Service Configuration
BOOKING_SERVICE_HTTP_PORT=3003
BOOKING_SERVICE_GRPC_PORT=50053

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=skillup_booking_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@localhost:5672
RABBITMQ_BOOKING_QUEUE=booking_queue
